body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 150rem;
    justify-content: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin: auto;
}

.jumbotron {
    background-image: url("../Assets/photo-1525489196064-0752fa4e16f2.jpg");
    background-size: 100%;
}

.jumbotron .jb {
    width: 50%;
    margin: auto;
}

.wrapper {
    height: auto;
    width: 100%;
    position: relative;
    border: thin black solid;
    display: inline-flex;
    padding: 0;
    margin: 1rem auto 5rem auto;
}

@media (min-width: 750px) {
    .sidebar, .mainContent {
        height: auto;
        width: auto;
        border: thin black solid;
        margin: 1rem;
    }

    .sideInfo {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        width: 20rem;
        height: 30%;
        border: thin black solid;
        justify-content: space-between;
        align-content: center;
        margin-top: 1rem;
    }

    .smallScreenSideBar {
        display: none;
        justify-content: center;
        align-content: center;
    }
}

@media (max-width: 749px) {
    .sidebar {
        display: none;
    }

    .sideInfo {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        width: 20rem;
        height: 30%;
        border: thin black solid;
        justify-content: center;
        align-content: center;
        margin: 1rem auto;
    }

    .smallScreenSideBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

.controllerBtn {
    margin-bottom: 1rem;
}

.footer {
    color: white;
    display: flex;
    padding-top: 1.5rem;
    text-align: center;
    align-content: center;
    justify-content: center;
}