/* Fonts from GoogleFonts

    font-family: 'Audiowide', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rock Salt', cursive;
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #CDD5EB;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.body-content p {
    font-family: 'Calisto MT';
    text-align: justify
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 150rem;
    justify-content: center;
}

.btn-warning {
    background-color: #DE6500;
}

.navbar-brand {
    font-family: 'Rock Salt', cursive;
    color: #DE6500 !important;
}

.jumbotron {
    background-image: linear-gradient(to top left, yellow, #DE6500, #DE6500 );
    border-radius: 0 0 8px 8px !important;
}

.jumbotron .jb {
    display: block;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.wrapper {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    padding: 0 0 5rem 0;
    align-content: center;
    justify-content: center;
}

.img-responsive {
    margin: auto;
}

/*.indexBtn {
    font-family: 'Rock Salt', cursive;
    background-color: #DE6500;
}

.indexBtn a:hover {
    text-decoration: none;
}

.indexBtn a {
    color: white;
}*/

.btn {
    background-color: #DE6500;
    color: white;
    font-family: 'Rock Salt', cursive;
}
    .btn:hover {
        background-color: #DE6500;
        color: white;
    }

.btn a {
    color: white;
}

    .btn a:hover {
        text-decoration: none;
    }

#edit {
    background-color: #DE6500;
}

#details {
    background-color: steelblue;
}

#delete {
    background-color: red;
}

.badge a {
    color: white;
}

.mainContent {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    flex-shrink: 1;
    align-content: center;
    justify-content: center;
}

.carousel, .carousel-inner {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-shrink: 1;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.card {
    text-align: center;
    border: thin solid #DE6500;
    border-radius: 10px;
    padding: 5px;
}

.card-body p {
    padding: 10px;
}

.controllerBtn {
    background-color: transparent;
    border: none;
}

.controllerBtn a {
    color: #132898;
}

.mapOuter {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
    margin: auto;
}

#gmap_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding-top: 5rem;
    display: flex;
    flex-shrink: 1;
}

@media (min-width: 771px) {
    
    .sidebar, .mainContent {
        height: auto;
        margin: 1rem;
        max-width: 60%;
    }

    .sidebar {
        border-right: medium #C6C6C6 solid;
    }

    .sideInfo {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        max-width: 40%;
        height: 30%;
        justify-content: space-between;
        align-content: center;
        margin-top: 1rem;
    }

    .smallScreenSideBar {
        display: none;
        justify-content: center;
        align-content: center;
    }
}

@media (max-width: 770px) {
    .mainContent {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        margin: 1rem;
        justify-content: center;
        align-content: center;
    }

    .sidebar {
        display: none;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .card img {
        margin: auto;
    }

    .smallScreenSideBar {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-top: 5rem;
    }

    .sideInfo {
        position: relative;
        display: flex;
        width: 50%;
        height: 30%;
        margin-top: 5rem;
    }
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: 'Rock Salt', cursive;
}

@media (min-width: 515px) {

    #indexCardDeck {
        display: flex;
        position: relative;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin: 5rem auto;
    }

    #indexItem {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
    }

    #indexItem .badge {
        margin: .5rem;
    }

    .cardInfo {
        display: flex;
        align-content: center;
        justify-content: center;
    }

}

@media (max-width: 514px) {

    #indexCardDeck {
        display: flex;
        position: relative;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin: 5rem auto;
    }

    #indexItem {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
    }

        #indexItem .badge {
            margin: .5rem;
        }

    .cardInfo {
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

.contact {
    position: relative;
    display: flex;
    margin: 1rem .5rem;
    font-weight: bold;
}

.contact .control-label {
    padding: .5rem;
}

.contactInfo {
    border: thin solid gray;
    border-radius: .5rem;
    line-height: 3rem;
    font-weight: normal;
}

.footer {
    color: white;
    display: flex;
    padding-top: 1.5rem;
    text-align: center;
    align-content: center;
    justify-content: center;
}

    .footer p {
        font-family: 'Rock Salt', cursive;
    }